 
  #escudo {
    
    height: 100vh;
    width: auto;
    position: absolute;
    /* top: 70px; */
    align-items: center;
    text-align: center;
    z-index: 10;
  }

  #escudo > img {
    height: 100%;
    width: auto;
    opacity: .05;
    
  }

  @media (max-width: 700px) {
    
    #escudo > img {
      height: 100%;
      align-items: center;
      text-align: center;
    }
  }

  .caja_loader {
    
    /* background: rgb(100, 126, 126); */
    background:lightslategray;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
   /*  top: 0;
    left: 0; */
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: all 2s ease-in-out;
  }

  .caja_loader_2 {
    clip-path: circle(0% at 100% 0);
    background: rgba(100, 126, 126, 0.733);
    
  }

  .quitar_capa_loader {
    display: none;
  }
  
  /* The loader container */
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 200px;
    height: 200px;
    
    margin-top: -100px;
    margin-left: -100px;
  }
  
  
  /* The dot */
  .loader > .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
  
    width: 160px;
    height: 100px;
    
    margin-top: -50px;
    margin-left: -80px;
  
    border-radius: 5px;
  
    background-color: #1e3f57;
  
    transform-type: preserve-3d;
  
    animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
  }
  
  .loader > .dot:nth-child(2) {
    z-index: 11;
    
    width: 150px;
    height: 90px;
    
    margin-top: -45px;
    margin-left: -75px;
    
    border-radius: 3px;
    
    background-color: #3c617d;
    
    animation-name: dot2;
  }
  
  .loader > .dot:nth-child(3) {
    z-index: 12;
    
    width: 40px;
    height: 20px;
    
    margin-top: 50px;
    margin-left: -20px;
    
    border-radius: 0 0 5px 5px;
    
    background-color: #6bb2cd;
    
    animation-name: dot3;
  }
  
  @keyframes dot1 {
    3%, 97% {
      width: 160px;
      height: 100px;
  
      margin-top: -50px;
      margin-left: -80px;
    }
    30%, 36% {
      width: 80px;
      height: 120px;
  
      margin-top: -60px;
      margin-left: -40px;
    }
    63%, 69% {
      width: 40px;
      height: 80px;
  
      margin-top: -40px;
      margin-left: -20px;
    }
  }
  
  @keyframes dot2 {
    3%, 97% {
      width: 150px;
      height: 90px;
  
      margin-top: -45px;
      margin-left: -75px;
    }
    30%, 36% {
      width: 70px;
      height: 96px;
  
      margin-top: -48px;
      margin-left: -35px;
    }
    63%, 69% {
      width: 32px;
      height: 60px;
  
      margin-top: -30px;
      margin-left: -16px;
    }
  }
  
  @keyframes dot3 {
    3%, 97% {
      width: 40px;
      height: 20px;
  
      margin-top: 50px;
      margin-left: -20px;
    }
    30%, 36% {
      width: 8px;
      height: 8px;
  
      margin-top: 49px;
      margin-left: -5px;
      
      border-radius: 8px;
    }
    63%, 69% {
      width: 16px;
      height: 4px;
  
      margin-top: -37px;
      margin-left: -8px;
      
      border-radius: 10px;
    }
  }

 /* .loader_texto{
   
   font-size: 1.4em;
   font-weight: 500;
   position: fixed;
   bottom: 50px;
   color: darkslategrey; 
 } */

 /* LOADER DE TEXT */

 .Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif; 
  text-align: center;
  /* font-size: 1.4em; */
  font-weight: 500;
  position: fixed;
  bottom: 10vh;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  /* color: #e74c3c; */
  color: azure;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  text-shadow: rgba(100, 126, 126, 0.733);


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

/* ENVIANDO ... */

.caja_enviando {
    
  /* background: rgb(100, 126, 126); */
  background:rgba(47, 79, 79, 0.609);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
 /*  top: 0;
  left: 0; */
  z-index: 100000;
  clip-path: circle(150% at 100% 0);
  transition: all 2s ease-in-out;
}

.caja_enviando_2 {
  clip-path: circle(0% at 100% 0);
  background: rgba(24, 63, 63, 0.698);
  
}

.quitar_capa_enviando {
  display: none;
}

.loader_enviando {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
